@model List<CategoryVm>

@{
    ViewData["Title"] = "Categories";
}

<div class="container-fluid px-4 py-4">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h4 class="card-title">List of categories</h4>
                </div>
                <div class="col-6 float-end">
                    <a asp-action="Create" class="btn btn-dark float-end"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-primary"><i
                                        class="fas fa-edit"></i></a>
                                <form asp-action="Delete" asp-route-id="@category.Id" class="d-inline">
                                    <button class="btn btn-sm btn-danger deleteBtn"><i class="fas fa-trash"></i></button>
                                </form>
                                 <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-sm btn-info"><i
                                        class="fas fa-hamburger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    @* open modal on delete button click *@
    <script>
        $(document).ready(function () {
            $(".deleteBtn").click(function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.form.submit();
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                })
            });
        });
    </script>


}